<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <form>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-button (click)="Logins()">
        Login
        <ion-icon slot="end" name="log-in"></ion-icon>
      </ion-button>
      <ion-button (click)="Register()">
        Register
        <ion-icon slot="end" name="person-add"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>