<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      หน้าหลัก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <ion-list>
      <ion-item-sliding #item *ngFor="let book of books">
        <ion-item (click)="editbook($event,book)">
          หัวข้อ :  {{book.topic}}
        </ion-item>
        <ion-item-options side="end">
          <button ion-button color="danger" (click)="deletebook($event,book)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div class="row">
    <!-- Inputs with labels -->
    <ion-button (click)="logout()">
      Logout
      <ion-icon slot="end" name="log-out"></ion-icon>
    </ion-button>
    <ion-button (click)="Addbook()" color="danger">
      Addbook
      <ion-icon slot="end" name="add" ></ion-icon>
    </ion-button>
  </div>
</ion-content>